body
{
  background-color: #e3e3e3;
  text-decoration-style: solid;
  font-family: sans-serif;
}

blockquote
{
  border : 1px solid white;
  text-align: center;
  margin-left: 0;
}
div
{
  width: 500px;
  margin: auto;
}
